:root {
  --background-color:#1d2731 ;
  --text-color:#aaaaaa ;
  --layer1-color: #083c5d;
  --layer2-color: #328cc1;
  --contrast-color:#d98310 ;
}

#profilePicture {
  border-radius: 100%;
  height: 200px;
  border: 3px solid;
  border-color: var(--text-color);
}

nav {
  font-family: 'Rajdhani', sans-serif;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  margin: 0%;
  padding-right: 5px;
  padding-left: 5px;
  padding-top: 3px;

  /* justify-content: space-between; */
  background-image: linear-gradient(to left, #1d2731 0%, #083c5d 100%);
  border-radius: 3px 22px 22px 0px;
  z-index: 5;
  list-style-type: none;
  text-decoration: none;
  /* font-size: 130%; */
  border-bottom: solid 3px;
  border-right: solid 4px;
  border-top: solid 2px;
  border-color: var(--layer2-color);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

nav * {
  /* background-image: linear-gradient(to left, #1d2731 0%, #083c5d 100%); */
  /* padding-right: 5%; */
  text-decoration: none;
  
}

#topNav {
  display: flex;
  flex-direction: column;
  align-items: center;

}

#myName{
  font-size: xx-large;
  color: var(--contrast-color)
}

#mainNav {
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

#midNav *{
  font-family: 'Roboto Mono', monospace;
  border:solid 2px;
  padding: 5px;
  margin:2em;
  background-image: linear-gradient(to right, #1d2731 0%, #083c5d 100%);
  color: var(--text-color);
  font-size: larger;
  /* background-color: var(--background-color); */
}

#midNav *:hover {
  background-color: var(--layer1-color);
  box-shadow: 0 5 2px #000 inset;
  color: var(--contrast-color);
}

#socialMedia *{
  font-size: x-large;
  margin-left: .5em;
  margin-right: .5em;
  text-decoration: none;
  padding: 5px;
  color: var(--text-color);
  border: solid 1px;
  border-radius: 100%;
}

#socialMedia *:hover {
  color: var(--contrast-color);
  border: solid 1px;
  border-color: var(--contrast-color);
}

@media screen and (max-width: 1000px) {
  nav {
    display: flex;
    flex-direction: row;
    bottom:auto;
    width: 100%;
    
  }
  #profilePicture {
    height:100px;
  }
  #myName {
    font-size:larger;
  }
  #midNav {
    display:inline-flex;
  }
  #midNav *{
    margin: 1em;
    font-size: large;
  }
}

@media screen and (max-width:670px) {
  #midNav *{
    margin: 0.5em;
  }
}

/* #header {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 300px;
  transition: all ease-in-out 0.5s;
  z-index: 9997;
  transition: all 0.5s;
  padding: 0 15px;
  background: #040b14;
  overflow-y: auto;
}

#header .profile img {
  margin: 15px auto;
  display: block;
  width: 120px;
  border: 8px solid #2c2f3f;
}

#header .profile h1 {
  font-size: 24px;
  margin: 0;
  padding: 0;
  font-weight: 600;
  -moz-text-align-last: center;
  text-align-last: center;
  font-family: "Poppins", sans-serif;
}

#header .profile h1 a,
#header .profile h1 a:hover {
  color: #fff;
  text-decoration: none;
}

#header .profile .social-links a {
  font-size: 18px;
  display: inline-block;
  background: #212431;
  color: #fff;
  line-height: 1;
  padding: 8px 0;
  margin-right: 4px;
  border-radius: 50%;
  text-align: center;
  width: 36px;
  height: 36px;
  transition: 0.3s;
}

#header .profile .social-links a:hover {
  background: #149ddd;
  color: #fff;
  text-decoration: none;
} */